.navbar{
    background-color: #1976D2;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}


.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.footer{
    background-color: #2196F3;
    padding: 15px 0 15px 0;
}

.footer a{
    color: #fff;
}

.footer .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.list-state{
	margin: 10px 0 10px 0;
}

.list-state a{
	font-size: 16px;
}

.panel-default>.panel-heading {
    color: #025A82;
    background-color: #E4E4E4;
    border-color: #ddd;
    font-size: 15px;
    font-weight: bold;
}

.panel-default>.panel-heading h1{
    color: #025A82;
    background-color: #E4E4E4;
    border-color: #ddd;
    font-size: 17px;
    font-weight: bold;
    margin: 5px;
}

.business-list{
	padding: 10px 0 5px 15px;
	border-bottom: #cdcdcd dotted 2px;
	margin-bottom: 15px;
}

.business-list h2{
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.business-list a:hover{
	text-decoration: none;
}

ul.sidenav-category{
    margin: 0 0 0 10px;
    padding: 0px;
    list-style: none;
}

ul.profile{
    margin: 0 0 0 10px;
    padding: 0px;
    list-style: none;
}

ul.profile li{
    margin: 0 0 5px 0;
}

ul.profile h2{
    font-size: 17px;
    margin: 0 0 10px 0;
    color: #025A82;
    font-weight: bold;
}